Repository longgggwwww/logging: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api, build-processor, build-realtime, build-discord-bot, build-fcm, build-web-app

Path conditions:
  build-api: any of: services/api/**/*, services/api/.rebuild
  build-processor: any of: services/processor/**/*, services/processor/.rebuild
  build-realtime: any of: services/realtime/**/*, services/realtime/.rebuild
  build-discord-bot: any of: services/discord-bot/**/*, services/discord-bot/.rebuild
  build-fcm: any of: services/fcm/**/*, services/fcm/.rebuild
  build-web-app: any of: web-app/**/*, web-app/.rebuild

fix: improve SSH configuration in deployment script
  .gitlab-ci.yml
Due: none

ci: trigger rebuild for api
  services/api/.rebuild
Due: build-api

fix: refactor SSH config generation in deployment script for clarity
  .gitlab-ci.yml
Due: none

fix: streamline SSH config generation in deployment script
  .gitlab-ci.yml
Due: none

docs: add guide for emitting messages to Kafka
  docs/MESSAGE_EMIT_GUIDE.md
  docs/README.md
Due: none

docs: add guide for emitting messages to Kafka
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  docs/MESSAGE_EMIT_GUIDE.md
  docs/MESSAGE_STRUCTURE.md
  docs/NEW_STRUCTURE_GUIDE.md
  docs/QUICK_START.md
  docs/README.md
  services/realtime/README.md
Due: build-realtime

chore: release v1.0.0
  docs/CHANGELOG.md
  web-app/package.json
Due: build-web-app

feat: add MongoDB backup cronjob automation
  docs/MONGODB_BACKUP_COMPLETE.md
  docs/MONGODB_BACKUP_ENV_UPDATE.md
  docs/MONGODB_BACKUP_GUIDE.md
  docs/MONGODB_BACKUP_IMPLEMENTATION.md
  docs/MONGODB_BACKUP_PERMISSION_FIX.md
  docs/MONGODB_BACKUP_QUICK_REF.md
  scripts/README.md
  scripts/backup-mongodb.sh
  scripts/build-all.sh
  scripts/restore-mongodb.sh
  scripts/setup-mongodb-backup-cron.sh
  scripts/test-mongodb-backup-env.sh
  scripts/verify-mongodb-backup-permissions.sh
Due: none

ci: trigger rebuild for web-app
  web-app/.rebuild
Due: build-web-app
